body {
  width:600;
  margin:auto;
}

.box-1 {
  display:flex;
  background-color: rgb(6, 195, 247);
  gap: 10px;
  width:600px;
  padding: 10px;
}

.inner-box {
  width: 295px;
  height: 50px;
  background-color: rgb(44, 43, 43);
  align-items: center;
}


.box-2 {
  display:flex;
  background-color: rgb(6, 195, 247);
  gap: 15px;
  width:600px;
  padding: 15px;
}

.inner {
  width: 295px;
  height: 50px;
  background-color: rgb(44, 43, 43);
  align-items: center;
}

.box-3 {
  display:flex;
  background-color: rgb(6, 195, 247);
  gap: 12px;
  width:600px;
  padding: 12px;
}

.in-box-1 {
  width: 295px;
  height: 50px;
  background-color: rgb(44, 43, 43);
  align-items: flex-start;
  border: 2px solid rgb(234, 6, 6);
}
.in-box {
  width: 147.5px;
  height: 50px;
  background-color: rgb(44, 43, 43);
  align-items: center;
  border: 2px solid rgb(234, 6, 6);
}

.box-4 {
  display:flex;
  background-color: rgb(6, 195, 247);
  gap: 10px;
  width:600px;
  padding: 10px;
}

.inside {
  width: 295px;
  height: 50px;
  background-color: rgb(44, 43, 43);
  border: 2px solid rgb(234, 6, 6);
}

.footer {
  width: 295px;
  height: 50px;
  background-color: rgb(44, 43, 43);
  border: 2px solid rgb(234, 6, 6);
}